{% extends 'base.html'%}
{% block title %}
Register
{% endblock %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<style>
    html, body {
      display: flex;
      justify-content: center;
      height: 100%;
      background-color: #E0D6AC;
      }
      body, div, h1, form, input, p {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Quicksand, Arial, sans-serif;
      font-size: 16px;
      color: rgb(255, 0, 0);
      }
      tr{
      border-style: dashed;
      }
      td{
      border-style: inset;
      }
      h1 {
      padding: 10px 0;
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      }
      p {
      font-size: 12px;
      }
      hr {
      color: #a9a9a9;
      opacity: 0.3;
      }
      .main-block {
      max-width: 900px;
      min-height: 500px;
      padding: 10px 0;
      margin: auto;
      border-radius: 5px;
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0,0,0,.31);
      background: #fff177;
      }
      form {
      margin: 0 30px;
      }
      .account-type{
      margin: 15px 0;
      }
      input[type=radio] {
      display: none;
      }
      label#icon {
      margin: 0;
      border-radius: 5px 0 0 5px;
      }
      label.radio {
      position: relative;
      display: inline-block;
      padding-top: 4px;
      margin-right: 20px;
      text-indent: 30px;
      overflow: visible;
      cursor: pointer;
      }
      label.radio:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #1c87c9;
      }
      label.radio:after {
      content: "";
      position: absolute;
      width: 9px;
      height: 4px;
      top: 8px;
      left: 4px;
      border: 3px solid #fff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
      input[type=radio]:checked + label:after {
      opacity: 1;
      }
      input[type=text], input[type=password] {
      width: calc(100% - 57px);
      height: 36px;
      margin: 13px 0 0 -5px;
      padding-left: 10px;
      border-radius: 0 5px 5px 0;
      border: solid 1px #cbc9c9;
      box-shadow: 1px 2px 5px rgba(0,0,0,.09);
      background: #fff;
      }
      input[type=password] {
      margin-bottom: 15px;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 50%;
      padding: 10px 0;
      margin: 10px auto;
      border-radius: 5px;
      border: none;
      background: #1c87c9;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      }
      button:hover {
      background: #26a9e0;
      }
      </style>

<div class="main-block">
    {%with messages = get_flashed_messages()%}
        {%if messages %}
            {%for msg in messages %}
                <p align = center>{{msg}}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}
      <h1>Online Market</h1>
      <h2 align="center">Login To Your Account</h2>
      <form action="login" method="POST">
        <div class="account-type">
          <input type="radio" id="radioOne" name="s_radio" value="Customer" checked/>
          <label for="radioOne" class="radio">Customer</label>
          <input type="radio" id="radioTwo" name="s_radio" value="Seller"/>
          <label for="radioTwo" class="radio">Seller</label>
        </div>
        <h5> </h5>
        <input type="email" name="email" id="name" placeholder="Email" required/>
        <input type="password" name="password" id="name" placeholder="Password" required/>
        <div class="btn-block">
          <button type="submit" href="/">Submit</button>
          <p><a href="{{url_for('reg1')}}">Click Here to Register</a></p>
        </div>
      </form>
    </div>
{% endblock %}